<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到仓库管理系统</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body style="background: url({% static 'images/login.jpg' %});background-size: cover;">
    <div class="ui img">
        <a href="http://www.baidu.com/" target="_blank">
            <img src="{% static 'images/schoolLogo.png' %}" class="ui img " style="position: absolute;top: 3%;left: 1%;">
        </a>
    </div>
    <div class="ui bottom">
        <a href="/admin" target="_blank">
            <button  class="ui red submit button" style="position: absolute;top: 3%;left: 90%;">管理员入口</button>
        </a>
    </div>
    <!--<div class="ui bottom">-->
        <!--<a href="/admin" target="_blank">-->
            <!--<button  class="ui red submit button" style="position: absolute;top: 3%;left: 80%;">新用户注册</button>-->
        <!--</a>-->
    <!--</div>-->
    {% if messages %}
       <ul class=" ui red header messages" style="background-color: ghostwhite; position: absolute;top: 65%;left: 42%;">
           {% for message in messages %}
           <P {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</P>
           {% endfor %}
       </ul>
    {% endif %}
   <div class="ui center segment"
                style=" min-height: 240px;
                opacity: 0.8;
                background-color: ghostwhite;
                width:315px !important;
                border:rgba(255, 0, 0, 0);
                position: absolute;
                left: 50%;
                top:40%;
                transform: translate(-50%,-50%);">
       <div class="ui center content login">
           <div class="ui header">
               <h2 class="ui red" style="margin-left:5px;">欢迎登录</h2>
               <form action="" method="POST" style="position: absolute;top: 22%;left: 11%;">
                   {% csrf_token %}
                   <div class="ui input">
                        <input type="text" name="username" class="name_input" placeholder="请输入用户名" style="padding:5px; margin:5px;">
                   </div>
                   <div class="ui input">
                        <input type="password" name="pwd" class="pass_input" placeholder="请输入密码" style="padding:5px; margin:5px;">
                   </div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember" style="margin-top:5px;">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
                        </div>
                        <div class="ui input">
                                <input type="submit" name="" value="登录" class="input_submit" style="margin-top:8px; margin-left:75px">
                        </div>
                        {{ errmsg }}
               </form>
           </div>
       </div>
   </div>

   <div class="ui header" style="position: absolute; top: 85%;left: 40%;">
       <p>致谢Semantic，Django开源框架。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        POWERED BY PYTHON
       </p>
   </div>

</body>
</html>